/* body{ 
background-color:black;
}*/
*{
    background-color: #FAFAFA;
    box-sizing: border-box;
    margin: 0;
}

 .contenedor{ 
    display: block;
    width: 90%;
    height: 90%;
    border: 1rem;
    padding: 0 1rem;
    margin: 0 auto;
}
/* .contenedor{ 
position: absolute;
width: 1440px;
height: 1489px;
left: 0px;
top: 0px;
padding:0 1rem ;
background: #FAFAFA;
}*/
#galeria{
    width: 100%;
}
.text{
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
 .t1 h2{ 
    margin: 0;
    margin-block-start: 0;
    font-family: PT serif;
    font-size: 36px;
    font-weight: bold;
}


 .t2{ 
    padding: 1rem;
    margin-right: 5%;
    font-family: Poppins;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
}

.crew{

    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "c1 . c3"
      "c1 c2 c3"
      ". c2 ."
      "c4 . c6"
      "c4 c5 c6"
      ". c5 ."
      ". . .";
       
}
 .c1{ 
    width: 33%;
    grid-area: c1;
}

.c2{
    width: 33%;
    grid-area: c2;
}

.c3{
    width: 33%;
    grid-area: c3;
}

.c4{
    width: 33%;
    grid-area: c4;
}

.c5{
    width: 33%;
    grid-area: c5;
}

.c6{
    width: 33%;
    grid-area: c6;
}

.cua{
    display: grid;
    grid-template-columns: repeat(2, .3fr);
}
.i1{
    width: 14rem;
    height: 20rem;
}
.t3{
    width: 160%;
    font-family: Poppins;
    font-size: 1.2rem;
    line-height: 1rem;
    font-weight: 600;
    font-style: normal;
}

.t4{
    height: 1rem;
    width: 8rem;
    position: relative;
    font-family: PT serif;
    font-size: 1.25rem;
    font-weight: normal;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    margin-block-start: 4rem;
    margin-inline-start: -3.1rem;
}
.footer {
    font-family: Poppins;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(129, 127, 127);
    text-align: center;
  }

  @media (max-width:900px){
    #contenedor{
        display: block;
        width: 90%;
        height: 90%;
        border: 1rem;
        padding: 0 1rem;
        margin: 0 auto;
        margin-left: 0;
        padding-left: 0.3rem;
    }
    .t1{
        display: inline-block;
        text-align: center;
    }
    .t2{
        display: inline-block;
        text-align: left;
        line-height: 21px;
        position: absolute;
        width: 333px;
        height: 87px;
        left: 500px;
         top: 50px;
        
    }
    .crew{
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
        gap: 1px 0px; 
        margin: 10%;
        grid-template-areas: 
          "c1 ."
          "c1 c2"
          ". c2"
          "c3 ."
          "c3 c4"
          ". c4"
          "c5 ."
          "c5 c6"
          ". c6"
          ". .";
    }
    .c1{
        width: 40%;
        grid-area: c1;
    }
    
    .c2{
        width: 40%;
        grid-area: c2;
    }
    .c3{
        width: 40%;
        grid-area: c3;
    }

    .c4{
        width: 40%;
        grid-area: c4;
    }

    .c5{
        width: 40%;
        grid-area: c5;
    }

    .c6{
        width: 40%;
        grid-area: c6;
    }

    #footer{
    margin: 0 auto;

    }
  }